{% extends 'base.html.twig' %}
{% block title %}Users{% endblock %}
{% block body %}
    <h1>Users list</h1>
    <a class="btn btn-success" href="{{ path('users_new') }}">Create a new entry</a>
    <br/><br/>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role Name</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.role }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.plainpassword }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('users_show', { 'id': user.id }) }}">View</a>
                    <a class="btn btn-success" href="{{ path('users_edit', { 'id': user.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
