{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles list</h1>
    <a class="btn btn-success" href="{{ path('roles_new') }}">Create a new entry</a>
     <br/><br/>
    <table class="table table-bordered table-striped"
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('roles_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.name }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('roles_show', { 'id': role.id }) }}">View</a>
                    <a class="btn btn-success" href="{{ path('roles_edit', { 'id': role.id }) }}">Edit</a>                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
