{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles list</h1>
    <a class="btn btn-success" href="{{ path('roles_new') }}">Create a new entry</a>
     <br/><br/>
    <table class="table table-bordered table-striped"
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('roles_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.name }}</td>
                <td>{% if role.createdAt %}{{ role.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if role.updatedAt %}{{ role.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roles_show', { 'id': role.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('roles_edit', { 'id': role.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
