<!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
        <meta name="author" content="">
        <title>{% block title %}Symfony 3.1.3 Application{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('frontend/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('frontend/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link href="{{ asset('frontend/css/general.css') }}" rel="stylesheet" />
        <link href="{{ asset('frontend/css/custom.css') }}" rel="stylesheet" />
        <link href="{{ asset('frontend/css/owl.carousel.css') }}" rel="stylesheet" />
        <link href="{{ asset('frontend/css/owl.theme.css') }}" rel="stylesheet" />
        <link href="{{ asset('frontend/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('frontend/css/animate.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('frontend/css/magnific-popup.css') }}"> 
    {% endblock %}

        <script src="js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
        <!--[if IE 9]>
                <script src="js/PIE_IE9.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
                <script src="js/PIE_IE678.js"></script>
        <![endif]-->

        <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>
        <![endif]-->

    </head>

    <body id="home">

        <!-- Preloader -->
        <div id="preloader">
            <div id="status"></div>
        </div>

        <!-- FullScreen -->
        <div class="intro-header">
            <div class="col-xs-12 text-center abcen1">
                <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Symfony 3.1.3 Skeleton</h1>
                <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Md. Ziyed Uddin</h3>
                <ul class="list-inline intro-social-buttons">
                    <li><a href="https://ziyedbd.wordpress.com" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Blog</span></a>
                    </li>
                </ul>
            </div>    
            <!-- /.container -->
            <div class="col-xs-12 text-center abcen wow fadeIn">
                <div class="button_down "> 
                    <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="img/icon/circle.png" alt=""> </a>
                </div>
            </div>
        </div>

        <!-- NavBar-->
        <nav class="navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Symfony 3.1.3 Skeleton</a>
                </div>

                <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                    <ul class="nav navbar-nav">

                        <li class="menuItem"><a href="#whatis">What is?</a></li>
                        <li class="menuItem"><a href="#useit">Use It</a></li>
                        <li class="menuItem"><a href="#screen">Screenshot</a></li>
                        <li class="menuItem"><a href="#credits">Credits</a></li>
                        <li class="menuItem"><a href="#contact">Contact</a></li>
                    </ul>
                </div>

            </div>
        </nav> 

        
       {% block body %}{% endblock %}


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="footer-title">Follow Me!</h3>
                        <p>Vuoi ricevere news su altri template?<br/>
                            Visita Andrea Galanti.it e vedrai tutte le news riguardanti nuovi Theme!<br/>
                            Go to: <a  href="http://andreagalanti.it" target="_blank">andreagalanti.it</a>
                        </p>

                        <!-- LICENSE -->
                        <a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy"
                           property="dc:title">Flatfy Theme </a> by
                        <a rel="dc:creator" href="http://www.andreagalanti.it"
                           property="cc:attributionName">Andrea Galanti</a>
                        is licensed to the public under 
                        <BR>the <a rel="license"
                                   href="http://creativecommons.org/licenses/by-nc/3.0/it/deed.it">Creative
                            Commons Attribution 3.0 License - NOT COMMERCIAL</a>.


                    </div> <!-- /col-xs-7 -->

                    <div class="col-md-5">
                        <div class="footer-banner">
                            <h3 class="footer-title">Flatfy Theme</h3>
                            <ul>
                                <li>12 Column Grid Bootstrap</li>
                                <li>Form Contact</li>
                                <li>Drag Gallery</li>
                                <li>Full Responsive</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                            Go to: <a href="http://andreagalanti.it/flatfy" target="_blank">andreagalanti.it/flatfy</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JavaScript -->
    {% block javascripts %}
        <script src="{{ asset('frontend/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('frontend/js/bootstrap.js') }}"></script> 
        <script src="{{ asset('frontend/js/owl.carousel.js') }}"></script> 
        <script src="{{ asset('frontend/js/script.js') }}"></script> 
        <script src="{{ asset('frontend/js/stickUp.min.js') }}"></script> 
        <script src="{{ asset('frontend/js/script.js') }}"></script> 
        <script type="text/javascript">
            jQuery(function($) {
                $(document).ready(function() {
                    $('.navbar-default').stickUp();

                });
            });

        </script>
        <script src="{{ asset('frontend/js/jquery.corner.js') }}"></script> 
        <script src="{{ asset('frontend/js/wow.min.js') }}"></script> 
        <script>
            new WOW().init();
        </script>
        <script src="{{ asset('frontend/js/classie.js') }}"></script> 
        <script src="{{ asset('frontend/js/uiMorphingButton_inflow.js') }}"></script> 
        <script src="{{ asset('frontend/js/jquery.magnific-popup.js') }}"></script> 
    {% endblock %}
    </body>

</html>
